# Python for Fantasy Football - Matchup Adjustment

In [7]:
import pandas as pd

# Load data
xg_data = pd.read_csv('D:/Tom/Downloads/epl_xg.csv')

# Add columns again for goal difference, expected goal difference and non-penalty expected goal difference
# Alternatively, you can save the dataframe we made in part 1 using the code xg_data.to_csv('D:/Tom/Downloads/xg_data_inc_gd.csv'), and then load that csv here instead
xg_data['GD'] = xg_data['G'] - xg_data['GA']
xg_data['xGD'] = xg_data['xG'] - xg_data['xGA']
xg_data['NPxGD'] = xg_data['NPxG'] - xg_data['NPxGA']
xg_data

,Team,Games,G,GA,xG,xGA,NPxG,NPxGA,GD,xGD,NPxGD
0,Arsenal,8,19,10,10.41,10.95,10.41,10.95,9,-0.54,-0.54
1,Bournemouth,8,16,12,16.08,9.25,12.27,7.73,4,6.83,4.54
2,Brighton,8,9,13,9.49,14.71,6.44,12.43,-4,-5.22,-5.99
3,Burnley,8,10,12,7.69,14.11,7.69,13.35,-2,-6.42,-5.66
4,Cardiff,8,4,17,7.44,13.68,7.44,11.40,-13,-6.24,-3.96
5,Chelsea,8,18,5,15.72,8.59,13.44,8.59,13,7.13,4.85
6,Crystal Palace,8,5,9,7.02,11.56,7.02,9.28,-4,-4.54,-2.26
7,Everton,8,13,12,9.52,9.76,8.76,9.00,1,-0.24,-0.24
8,Fulham,8,9,21,9.41,18.00,9.41,15.71,-12,-8.59,-6.30
9,Huddersfield,8,4,17,4.75,13.26,4.75,11.74,-13,-8.51,-6.99
10,Leicester,8,14,12,9.14,8.58,7.62,7.05,2,0.56,0.57
11,Liverpool,8,15,3,16.66,5.90,15.90,5.14,12,10.76,10.76
12,Manchester City,8,21,3,22.49,4.00,21.72,4.00,18,18.49,17.72
13,Manchester United,8,13,14,12.83,10.98,10.54,10.22,-1,1.85,0.32
14,Newcastle,8,6,13,5.98,12.86,5.22,11.34,-7,-6.88,-6.12
15,Southampton,8,6,14,10.61,14.02,9.09,13.26,-8,-3.41,-4.17
16,Tottenham,8,15,7,14.79,9.66,13.27,9.66,8,5.13,3.61
17,Watford,8,11,12,10.55,11.01,10.55,10.25,-1,-0.46,0.30
18,West Ham,8,8,13,8.73,13.32,7.97,13.32,-5,-4.59,-5.35
19,Wolverhampton Wanderers,8,9,6,11.06,6.15,11.06,6.15,3,4.91,4.91

## String formatting
To enable us to carry out further analysis, it would be great to have per game versions of each stat as well as the totals. We could do this one by one like we did with the goal difference columns, but there is a better way! If you managed to take the free introductory course on DataCamp I recommended in part 1 then you might already know about string formatting, but if not take a look at the code below and see if you can figure out what it's doing:

In [8]:
name = 'Tom'
print('My name is %s' % name)

age = 28
print('My name is %s and I am %d' % (name, age))

My name is Tom
My name is Tom and I am 28

The string formatting operator, %, allows you to easily pass variables to a string. You can see from the examples above that '%s' will insert a string in that location, whereas '%d' will insert an integer - for a complete list of the other symbols that can be used with % see https://www.tutorialspoint.com/python/python_strings.htm. We can use this trick to quickly generate the new column names for our per game stats. It's always worth keeping in mind that if you have to repeat the same or similar code more than once, there is likely a quicker way to do things! First, we need to get a list of the column names we are interested in, then we can iterate over that list and generate a new column each time:

In [9]:
# Print a list of the columns in the dataframe

print(list(xg_data))

['Team', 'Games', 'G', 'GA', 'xG', 'xGA', 'NPxG', 'NPxGA', 'GD', 'xGD', 'NPxGD']

In [10]:
# Create a list of the columns we want
# We could have done this programmatically by removing the unwanted columns from the list above, but in this case it's just as easy to copy and paste!
cols = ['G', 'GA', 'xG', 'xGA', 'NPxG', 'NPxGA', 'GD', 'xGD', 'NPxGD']

# Create new columns for per game versions of each stat in the cols list
# This code iterates through the list and adds new columns for each item in the list, using string formatting to create the column names
# i.e. for each column in the cols list, create a new column where col name = original col name + '_pg' and col value = original column value / games
for col in cols:
    xg_data['%s_pg' % col] = xg_data[col] / xg_data['Games']

xg_data

,Team,Games,G,GA,xG,xGA,NPxG,NPxGA,GD,xGD,NPxGD,G_pg,GA_pg,xG_pg,xGA_pg,NPxG_pg,NPxGA_pg,GD_pg,xGD_pg,NPxGD_pg
0,Arsenal,8,19,10,10.41,10.95,10.41,10.95,9,-0.54,-0.54,2.375,1.250,1.30125,1.36875,1.30125,1.36875,1.125,-0.06750,-0.06750
1,Bournemouth,8,16,12,16.08,9.25,12.27,7.73,4,6.83,4.54,2.000,1.500,2.01000,1.15625,1.53375,0.96625,0.500,0.85375,0.56750
2,Brighton,8,9,13,9.49,14.71,6.44,12.43,-4,-5.22,-5.99,1.125,1.625,1.18625,1.83875,0.80500,1.55375,-0.500,-0.65250,-0.74875
3,Burnley,8,10,12,7.69,14.11,7.69,13.35,-2,-6.42,-5.66,1.250,1.500,0.96125,1.76375,0.96125,1.66875,-0.250,-0.80250,-0.70750
4,Cardiff,8,4,17,7.44,13.68,7.44,11.40,-13,-6.24,-3.96,0.500,2.125,0.93000,1.71000,0.93000,1.42500,-1.625,-0.78000,-0.49500
5,Chelsea,8,18,5,15.72,8.59,13.44,8.59,13,7.13,4.85,2.250,0.625,1.96500,1.07375,1.68000,1.07375,1.625,0.89125,0.60625
6,Crystal Palace,8,5,9,7.02,11.56,7.02,9.28,-4,-4.54,-2.26,0.625,1.125,0.87750,1.44500,0.87750,1.16000,-0.500,-0.56750,-0.28250
7,Everton,8,13,12,9.52,9.76,8.76,9.00,1,-0.24,-0.24,1.625,1.500,1.19000,1.22000,1.09500,1.12500,0.125,-0.03000,-0.03000
8,Fulham,8,9,21,9.41,18.00,9.41,15.71,-12,-8.59,-6.30,1.125,2.625,1.17625,2.25000,1.17625,1.96375,-1.500,-1.07375,-0.78750
9,Huddersfield,8,4,17,4.75,13.26,4.75,11.74,-13,-8.51,-6.99,0.500,2.125,0.59375,1.65750,0.59375,1.46750,-1.625,-1.06375,-0.87375
10,Leicester,8,14,12,9.14,8.58,7.62,7.05,2,0.56,0.57,1.750,1.500,1.14250,1.07250,0.95250,0.88125,0.250,0.07000,0.07125
11,Liverpool,8,15,3,16.66,5.90,15.90,5.14,12,10.76,10.76,1.875,0.375,2.08250,0.73750,1.98750,0.64250,1.500,1.34500,1.34500
12,Manchester City,8,21,3,22.49,4.00,21.72,4.00,18,18.49,17.72,2.625,0.375,2.81125,0.50000,2.71500,0.50000,2.250,2.31125,2.21500
13,Manchester United,8,13,14,12.83,10.98,10.54,10.22,-1,1.85,0.32,1.625,1.750,1.60375,1.37250,1.31750,1.27750,-0.125,0.23125,0.04000
14,Newcastle,8,6,13,5.98,12.86,5.22,11.34,-7,-6.88,-6.12,0.750,1.625,0.74750,1.60750,0.65250,1.41750,-0.875,-0.86000,-0.76500
15,Southampton,8,6,14,10.61,14.02,9.09,13.26,-8,-3.41,-4.17,0.750,1.750,1.32625,1.75250,1.13625,1.65750,-1.000,-0.42625,-0.52125
16,Tottenham,8,15,7,14.79,9.66,13.27,9.66,8,5.13,3.61,1.875,0.875,1.84875,1.20750,1.65875,1.20750,1.000,0.64125,0.45125
17,Watford,8,11,12,10.55,11.01,10.55,10.25,-1,-0.46,0.30,1.375,1.500,1.31875,1.37625,1.31875,1.28125,-0.125,-0.05750,0.03750
18,West Ham,8,8,13,8.73,13.32,7.97,13.32,-5,-4.59,-5.35,1.000,1.625,1.09125,1.66500,0.99625,1.66500,-0.625,-0.57375,-0.66875
19,Wolverhampton Wanderers,8,9,6,11.06,6.15,11.06,6.15,3,4.91,4.91,1.125,0.750,1.38250,0.76875,1.38250,0.76875,0.375,0.61375,0.61375

Just in case you weren't 100% sure that using Python is worthwhile, hopefully that short bit of code will convince you! This confirms what we knew already - Arsenal are scoring an extra goal per game right now, which is unsustainable even if you account for some modelling error.

Now we can get onto the main subject of this article, which is how to project stats for upcoming fixtures. In this case we will try to predict the average goals we can expect for each team in week 9 of the EPL season using xG_pg and xGA_pg. Obviously we only have an 8 game sample here so it's hard to fully trust the results, but you will be able to use this method for any stats you want (shots, crosses etc). First, we need to get the upcoming fixtures, and to make things easier there is a csv file provided on GitHub.

In [11]:
# Load fixtures
fixtures = pd.read_csv('D:/Tom/Downloads/epl_fixtures.csv')
fixtures

         Home_Team          Away_Team
0          Chelsea  Manchester United
1      Bournemouth        Southampton
2          Cardiff             Fulham
3  Manchester City            Burnley
4        Newcastle           Brighton
5         West Ham          Tottenham
6           Wolves            Watford
7     Huddersfield          Liverpool
8          Everton     Crystal Palace
9          Arsenal          Leicester

## Cleaning data
Unfortunately in this data we have 'Wolves' instead of 'Wolverhampton Wanderers', a common problem if your data comes from multiple sources. Luckily it's easy to solve in this case:

In [12]:
# Replace 'Wolves' with 'Wolverhampton Wanderers'
# Note that you can look in a specific column or row if you don't want to replace values in the entire dataframe
fixtures = fixtures.replace('Wolves', 'Wolverhampton Wanderers')
fixtures

                 Home_Team          Away_Team
0                  Chelsea  Manchester United
1              Bournemouth        Southampton
2                  Cardiff             Fulham
3          Manchester City            Burnley
4                Newcastle           Brighton
5                 West Ham          Tottenham
6  Wolverhampton Wanderers            Watford
7             Huddersfield          Liverpool
8                  Everton     Crystal Palace
9                  Arsenal          Leicester

## Merging dataframes
In my book, 'Daily Fantasy Football: The Complete Guide on How to Play and Win Real Money', I mentioned a quick method that you can use to adjust stats for matchups. The first step is to add xG_pg and xGA_pg to the fixtures dataframe. We can combine the fixtures and xg_data dataframes using the pandas merge operation, which works in a similar way to Excel's VLOOKUP function:

In [13]:
# Filter xg_data to only include the columns we want
xg_data_pg = xg_data[['Team', 'xG_pg', 'xGA_pg']]

# Merge fixtures and xg_data_pg (see https://pandas.pydata.org/pandas-docs/stable/merging.html for more info on combining pandas dataframes)
# This will get home team stats by matching the 'Home_Team' column with the 'Team' column using left_on and right_on
fixtures = pd.merge(fixtures, xg_data_pg, left_on='Home_Team', right_on='Team')
fixtures

,Home_Team,Away_Team,Team,xG_pg,xGA_pg
0,Chelsea,Manchester United,Chelsea,1.96500,1.07375
1,Bournemouth,Southampton,Bournemouth,2.01000,1.15625
2,Cardiff,Fulham,Cardiff,0.93000,1.71000
3,Manchester City,Burnley,Manchester City,2.81125,0.50000
4,Newcastle,Brighton,Newcastle,0.74750,1.60750
5,West Ham,Tottenham,West Ham,1.09125,1.66500
6,Wolverhampton Wanderers,Watford,Wolverhampton Wanderers,1.38250,0.76875
7,Huddersfield,Liverpool,Huddersfield,0.59375,1.65750
8,Everton,Crystal Palace,Everton,1.19000,1.22000
9,Arsenal,Leicester,Arsenal,1.30125,1.36875

In [14]:
# We can repeat to get the away team stats
fixtures = pd.merge(fixtures, xg_data_pg, left_on='Away_Team', right_on='Team')
fixtures

,Home_Team,Away_Team,Team_x,xG_pg_x,xGA_pg_x,Team_y,xG_pg_y,xGA_pg_y
0,Chelsea,Manchester United,Chelsea,1.96500,1.07375,Manchester United,1.60375,1.37250
1,Bournemouth,Southampton,Bournemouth,2.01000,1.15625,Southampton,1.32625,1.75250
2,Cardiff,Fulham,Cardiff,0.93000,1.71000,Fulham,1.17625,2.25000
3,Manchester City,Burnley,Manchester City,2.81125,0.50000,Burnley,0.96125,1.76375
4,Newcastle,Brighton,Newcastle,0.74750,1.60750,Brighton,1.18625,1.83875
5,West Ham,Tottenham,West Ham,1.09125,1.66500,Tottenham,1.84875,1.20750
6,Wolverhampton Wanderers,Watford,Wolverhampton Wanderers,1.38250,0.76875,Watford,1.31875,1.37625
7,Huddersfield,Liverpool,Huddersfield,0.59375,1.65750,Liverpool,2.08250,0.73750
8,Everton,Crystal Palace,Everton,1.19000,1.22000,Crystal Palace,0.87750,1.44500
9,Arsenal,Leicester,Arsenal,1.30125,1.36875,Leicester,1.14250,1.07250

## Removing and renaming dataframe columns
Whilst combining dataframes is a very useful tool in a lot of situations, in this case we have to remove the unwanted 'Team_x' and 'Team_y' columns and rename the others to avoid confusion:

In [15]:
# Remove unwanted columns
# By default, the axis argument is set to 0, which refers to rows
# In this case we want to drop columns, so we need to specify axis=1
fixtures = fixtures.drop(['Team_x', 'Team_y'], axis=1)
fixtures

,Home_Team,Away_Team,xG_pg_x,xGA_pg_x,xG_pg_y,xGA_pg_y
0,Chelsea,Manchester United,1.96500,1.07375,1.60375,1.37250
1,Bournemouth,Southampton,2.01000,1.15625,1.32625,1.75250
2,Cardiff,Fulham,0.93000,1.71000,1.17625,2.25000
3,Manchester City,Burnley,2.81125,0.50000,0.96125,1.76375
4,Newcastle,Brighton,0.74750,1.60750,1.18625,1.83875
5,West Ham,Tottenham,1.09125,1.66500,1.84875,1.20750
6,Wolverhampton Wanderers,Watford,1.38250,0.76875,1.31875,1.37625
7,Huddersfield,Liverpool,0.59375,1.65750,2.08250,0.73750
8,Everton,Crystal Palace,1.19000,1.22000,0.87750,1.44500
9,Arsenal,Leicester,1.30125,1.36875,1.14250,1.07250

In [16]:
# We have already seen that a list in Python is represented using square brackets []
# Curly brackets {} are used for dictionaries
# In a dictionary, the item on the left of the colon is the key, whilst the item on the right is the value
# We can use a dictionary to rename the columns in the fixtures dataframe
# This code will look for the dictionary keys in the column names, and replace them with the dictionary values
fixtures = fixtures.rename(columns={'xG_pg_x': 'xG_pg_home_team', 'xGA_pg_x': 'xGA_pg_home_team', 'xG_pg_y': 'xG_pg_away_team', 'xGA_pg_y': 'xGA_pg_away_team'})
fixtures

# Note that we could have assigned the dictionary to a variable instead:
# colnames = {'xG_pg_x': 'xG_pg_home', 'xGA_pg_x': 'xGA_pg_home', 'xG_pg_y': 'xG_pg_away', 'xGA_pg_y': 'xGA_pg_away'}
# fixtures = fixtures.rename(columns=colnames)

,Home_Team,Away_Team,xG_pg_home_team,xGA_pg_home_team,xG_pg_away_team,xGA_pg_away_team
0,Chelsea,Manchester United,1.96500,1.07375,1.60375,1.37250
1,Bournemouth,Southampton,2.01000,1.15625,1.32625,1.75250
2,Cardiff,Fulham,0.93000,1.71000,1.17625,2.25000
3,Manchester City,Burnley,2.81125,0.50000,0.96125,1.76375
4,Newcastle,Brighton,0.74750,1.60750,1.18625,1.83875
5,West Ham,Tottenham,1.09125,1.66500,1.84875,1.20750
6,Wolverhampton Wanderers,Watford,1.38250,0.76875,1.31875,1.37625
7,Huddersfield,Liverpool,0.59375,1.65750,2.08250,0.73750
8,Everton,Crystal Palace,1.19000,1.22000,0.87750,1.44500
9,Arsenal,Leicester,1.30125,1.36875,1.14250,1.07250

## The map function
The other option is to use the map function to add the values from xg_data to fixture. Let's load the fixtures csv again so that we can try this method instead:

In [17]:
# Load fixtures data again and assign to a new variable, fixtures2
fixtures2 = pd.read_csv('D:/Tom/Downloads/epl_fixtures.csv')
fixtures2 = fixtures2.replace('Wolves', 'Wolverhampton Wanderers')

# First, set the 'Team' column of xg_data_pg to be the dataframe index
xg_data_pg.set_index('Team', inplace=True)
xg_data_pg

# inplace=True tells Python to complete the operation in place, avoiding the need to assign it back to a variable
# Alternatively we could have used the following code:
# xg_data_pg = xg_data_pg.set_index('Team')

                           xG_pg   xGA_pg
Team
Arsenal                  1.30125  1.36875
Bournemouth              2.01000  1.15625
Brighton                 1.18625  1.83875
Burnley                  0.96125  1.76375
Cardiff                  0.93000  1.71000
Chelsea                  1.96500  1.07375
Crystal Palace           0.87750  1.44500
Everton                  1.19000  1.22000
Fulham                   1.17625  2.25000
Huddersfield             0.59375  1.65750
Leicester                1.14250  1.07250
Liverpool                2.08250  0.73750
Manchester City          2.81125  0.50000
Manchester United        1.60375  1.37250
Newcastle                0.74750  1.60750
Southampton              1.32625  1.75250
Tottenham                1.84875  1.20750
Watford                  1.31875  1.37625
West Ham                 1.09125  1.66500
Wolverhampton Wanderers  1.38250  0.76875

In [18]:
# Now we can use map to look for the values in a column from fixtures2 and get the corresponding value from xg_data_pg
# The code below looks for each 'Home_Team' in fixtures2 in the index of xg_data_pg, and maps the corresponding xG_pg back to fixtures2
fixtures2['xG_pg_home_team'] = fixtures2['Home_Team'].map(xg_data_pg['xG_pg'])

# We can repeat to get all the stats we want (of course there is a quicker way, but in this case there are only a few columns so it's not too bad to go one by one)
fixtures2['xGA_pg_home_team'] = fixtures2['Home_Team'].map(xg_data_pg['xGA_pg'])
fixtures2['xG_pg_away_team'] = fixtures2['Away_Team'].map(xg_data_pg['xG_pg'])
fixtures2['xGA_pg_away_team'] = fixtures2['Away_Team'].map(xg_data_pg['xGA_pg'])
fixtures2

,Home_Team,Away_Team,xG_pg_home_team,xGA_pg_home_team,xG_pg_away_team,xGA_pg_away_team
0,Chelsea,Manchester United,1.96500,1.07375,1.60375,1.37250
1,Bournemouth,Southampton,2.01000,1.15625,1.32625,1.75250
2,Cardiff,Fulham,0.93000,1.71000,1.17625,2.25000
3,Manchester City,Burnley,2.81125,0.50000,0.96125,1.76375
4,Newcastle,Brighton,0.74750,1.60750,1.18625,1.83875
5,West Ham,Tottenham,1.09125,1.66500,1.84875,1.20750
6,Wolverhampton Wanderers,Watford,1.38250,0.76875,1.31875,1.37625
7,Huddersfield,Liverpool,0.59375,1.65750,2.08250,0.73750
8,Everton,Crystal Palace,1.19000,1.22000,0.87750,1.44500
9,Arsenal,Leicester,1.30125,1.36875,1.14250,1.07250

In this case using map is probably easier, but it often won't be - for instance if we already had matching column names in the dataframes we were combining.

## Generating projected stats
Now we have the data we want, we can use the simple method from my book to adjust the xG numbers. Just in case you didn't read the book, the method we want is as follows:
adjusted stat = (offense * defense) / league average

In [19]:
# Work out the average xGA_pg
xG_avg = xg_data_pg['xG_pg'].mean()

# Copy fixtures2 to a new dataframe called matchups (you could just add the new columns directly to fixtures2 if you wanted)
matchups = fixtures2.copy()

# Add new columns for adjusted xG for home and away team
matchups['xG_adjusted_home_team'] = (matchups['xG_pg_home_team'] * matchups['xGA_pg_away_team']) / xG_avg
matchups['xG_adjusted_away_team'] = (matchups['xG_pg_away_team'] * matchups['xGA_pg_home_team']) / xG_avg
matchups

,Home_Team,Away_Team,xG_pg_home_team,xGA_pg_home_team,xG_pg_away_team,xGA_pg_away_team,xG_adjusted_home_team,xG_adjusted_away_team
0,Chelsea,Manchester United,1.96500,1.07375,1.60375,1.37250,1.958134,1.250280
1,Bournemouth,Southampton,2.01000,1.15625,1.32625,1.75250,2.557535,1.113383
2,Cardiff,Fulham,0.93000,1.71000,1.17625,2.25000,1.519263,1.460371
3,Manchester City,Burnley,2.81125,0.50000,0.96125,1.76375,3.600012,0.348959
4,Newcastle,Brighton,0.74750,1.60750,1.18625,1.83875,0.997933,1.384506
5,West Ham,Tottenham,1.09125,1.66500,1.84875,1.20750,0.956707,2.234909
6,Wolverhampton Wanderers,Watford,1.38250,0.76875,1.31875,1.37625,1.381433,0.736063
7,Huddersfield,Liverpool,0.59375,1.65750,2.08250,0.73750,0.317931,2.506144
8,Everton,Crystal Palace,1.19000,1.22000,0.87750,1.44500,1.248482,0.777275
9,Arsenal,Leicester,1.30125,1.36875,1.14250,1.07250,1.013271,1.135397

Ideally to make these numbers more useful, you will want to also factor in home advantage. Some teams will have a bigger home advantage than others due to various factors (e.g. level of support, different tactics of team or opponent etc), so if we had a larger sample our best option would be to use xG_pg at home or away rather than overall xG_pg. For now, a quick way to do this is to take the difference in average goals scored at home vs all matches. Since 14/15 teams have scored 1.1x more goals at home, with away teams scoring 0.87x as many goals.

In [20]:
# Account for home advantage
matchups['xG_adjusted_home_team'] = matchups['xG_adjusted_home_team'] * 1.1
matchups['xG_adjusted_away_team'] = matchups['xG_adjusted_away_team'] * 0.87
matchups

,Home_Team,Away_Team,xG_pg_home_team,xGA_pg_home_team,xG_pg_away_team,xGA_pg_away_team,xG_adjusted_home_team,xG_adjusted_away_team
0,Chelsea,Manchester United,1.96500,1.07375,1.60375,1.37250,2.153947,1.087744
1,Bournemouth,Southampton,2.01000,1.15625,1.32625,1.75250,2.813289,0.968643
2,Cardiff,Fulham,0.93000,1.71000,1.17625,2.25000,1.671189,1.270523
3,Manchester City,Burnley,2.81125,0.50000,0.96125,1.76375,3.960014,0.303594
4,Newcastle,Brighton,0.74750,1.60750,1.18625,1.83875,1.097726,1.204520
5,West Ham,Tottenham,1.09125,1.66500,1.84875,1.20750,1.052378,1.944371
6,Wolverhampton Wanderers,Watford,1.38250,0.76875,1.31875,1.37625,1.519577,0.640375
7,Huddersfield,Liverpool,0.59375,1.65750,2.08250,0.73750,0.349724,2.180345
8,Everton,Crystal Palace,1.19000,1.22000,0.87750,1.44500,1.373330,0.676229
9,Arsenal,Leicester,1.30125,1.36875,1.14250,1.07250,1.114598,0.987796

## Sense checking values
To check whether these numbers are realistic, let's compare them to the actual implied goal odds set by the bookies. I've already done the hard work of providing these in another csv. Note that I am writing this quite far ahead of the week 9 fixtures, so at least in theory these numbers will get more accurate as we move closer to kickoff, but they shouldn't be too far off.

In [21]:
# Load bookies implied goal totals
bookies = pd.read_csv('D:/Tom/Downloads/epl_week_9_implied_goals.csv')

# Merge with matchups (here merging works well because we have the Home_Team and Away_Team columns in both dataframes)
matchups = pd.merge(matchups, bookies)

# Calculate difference in goal totals
matchups['home_goals_diff'] = matchups['xG_adjusted_home_team'] - matchups['Bookies_Home_Goals']
matchups['away_goals_diff'] = matchups['xG_adjusted_away_team'] - matchups['Bookies_Away_Goals']

# Plot the results using the code from part 1
from matplotlib import pyplot as plt
import seaborn as sns

# Set the plot style and colour palette to use
sns.set(style='whitegrid')
sns.set_color_codes('muted')

# Initialize the matplotlib figure (f) and axes (ax), and set width and height of the plot
# In this case we want two plots, one each for home and away teams
# We can plot these on top of each other and use a shared x axis by calling nrows=2 and sharex=True
f, (ax1, ax2) = plt.subplots(nrows=2, figsize=(7, 10), sharex=True)

# Create the plots, choosing the axes, the variables for each axis, the data source and the colour
sns.barplot(x='home_goals_diff', y='Home_Team', data=matchups, color='b', ax=ax1)
sns.barplot(x='away_goals_diff', y='Away_Team', data=matchups, color='b', ax=ax2)

# Rename the axes, setting y axis label to be blank
ax1.set(xlabel='', ylabel='', title='Home Teams')
ax2.set(xlabel='Difference in bookies implied goals vs our projected goals', ylabel='', title='Away Teams')

# Remove the borders from the plot
sns.despine(left=True, bottom=True)

Generally our projected numbers don't look that bad despite using a pretty basic method, with the big differences being Arsenal (unsustainable goalscoring) and Bournemouth (different style to last season). It's highly likely that the bookies are using a larger sample of data than us (amongst other things), as well as adjusting a bit for how much action they expect from the public on each team. If you don't think it's realistic to expect Manchester City to score over 3.5 goals on average at home to Burnley, think again!

## Creating functions
The final step in this part is to create a function to calculate the win and clean sheet odds for each team using our average projected goal numbers. We could do this without a function, but by wrapping our code inside a function we can use it again and again without having to re-type the same lines more than once. There is almost certainly a better way to achieve the same results than the code I have written here, so if you like feel free to play around and see if you can come up with an alternative! If you aren't sure what a part of the code is doing, try to run those lines separately, or add print statements inside the function to help explain.

In [22]:
# Import the numpy module (package designed for scientific computing)
import numpy as np

# Define a function to calculate win and clean sheet percentages based on average goal totals for each team
# The general format is
# def function_name(function_inputs):
#     do things
#     return result
# It's always a good idea to include a 'docstring' in your function, which is a description of how to use the function surrounded by triple quotes
def win_cs(df, home_goals_col, away_goals_col, n=10000):
    """Generates win and clean sheet percentages for each row of a dataframe, df, by using average goal totals from home_goals_col and away_goals_col
    n = number of sims to run, set at 10000 by default"""
    
    # Create blank lists for wins and clean sheets
    home_win_list = []
    away_win_list = []
    home_cs_list = []
    away_cs_list = []
    
    # Iterate through each row (i) in the dataframe
    for i in range(len(df)):
        # Get home and away projected goals for that row
        avg_home_goals = df.iloc[i][home_goals_col]
        avg_away_goals = df.iloc[i][away_goals_col]

        # Simulate home and away goals by drawing from a random poisson distribution n times
        home_goals_sim = np.random.poisson(avg_home_goals, n)
        away_goals_sim = np.random.poisson(avg_away_goals, n)

        # Create a new dataframe, sim, with the columns as the results
        sim = pd.DataFrame({'home_score': home_goals_sim, 'away_score': away_goals_sim})

        # Add new columns by using np.where() to evaluate conditional expressions, setting 1 for true and 0 for false
        sim['home_win'] = np.where(sim['home_score'] > sim['away_score'], 1, 0)
        sim['away_win'] = np.where(sim['away_score'] > sim['home_score'], 1, 0)
        sim['home_clean_sheet'] = np.where(sim['away_score'] == 0, 1, 0)
        sim['away_clean_sheet'] = np.where(sim['home_score'] == 0, 1, 0)

        # Sum the number of each result and divide by total number of sims to get percentages
        # Append the result to the corresponding list each time
        # As we iterate through the dataframe the win and clean sheet percentages for each row will be added to the end of the lists, until eventually we have values for each row
        home_win_list.append(sim['home_win'].sum() / n)
        away_win_list.append(sim['away_win'].sum() / n)
        home_cs_list.append(sim['home_clean_sheet'].sum() / n)
        away_cs_list.append(sim['away_clean_sheet'].sum() / n)
        
    # Add new columns to the input dataframe from the lists containing win and clean sheet percentages
    df['home_win'] = np.asarray(home_win_list)
    df['away_win'] = np.asarray(away_win_list)
    df['home_clean_sheet'] = np.asarray(home_cs_list)
    df['away_clean_sheet'] = np.asarray(away_cs_list)
    
    return df

# Run our new function, specifying the paramaters we want as inputs
# Note that because we set n=10000 when we defined the function, we don't need to set a value of n here
matchups = win_cs(df=matchups, home_goals_col='xG_adjusted_home_team', away_goals_col='xG_adjusted_away_team')

# Check the results (note how you can re-order the columns)
displaycols = ['Home_Team', 'xG_adjusted_home_team', 'home_win', 'home_clean_sheet',
               'Away_Team', 'xG_adjusted_away_team', 'away_win', 'away_clean_sheet']
matchups[displaycols]

,Home_Team,xG_adjusted_home_team,home_win,home_clean_sheet,Away_Team,xG_adjusted_away_team,away_win,away_clean_sheet
0,Chelsea,2.153947,0.6232,0.3393,Manchester United,1.087744,0.1814,0.1169
1,Bournemouth,2.813289,0.7564,0.3768,Southampton,0.968643,0.1002,0.0603
2,Cardiff,1.671189,0.4661,0.2735,Fulham,1.270523,0.2909,0.1891
3,Manchester City,3.960014,0.9545,0.7413,Burnley,0.303594,0.0085,0.0186
4,Newcastle,1.097726,0.3376,0.3077,Brighton,1.204520,0.3793,0.3332
5,West Ham,1.052378,0.2070,0.1429,Tottenham,1.944371,0.5769,0.3477
6,Wolverhampton Wanderers,1.519577,0.5852,0.5304,Watford,0.640375,0.1568,0.2180
7,Huddersfield,0.349724,0.0462,0.1096,Liverpool,2.180345,0.8027,0.7071
8,Everton,1.373330,0.5402,0.5135,Crystal Palace,0.676229,0.1758,0.2505
9,Arsenal,1.114598,0.3769,0.3760,Leicester,0.987796,0.3174,0.3348

In [23]:
# Because we put our previous code inside a function, we can easily re-run the function using the bookies' implied totals instead
matchups2 = win_cs(df=matchups, home_goals_col='Bookies_Home_Goals', away_goals_col='Bookies_Away_Goals')

# Check the results (note how you can re-order the columns)
displaycols = ['Home_Team', 'Bookies_Home_Goals', 'home_win', 'home_clean_sheet',
               'Away_Team', 'Bookies_Away_Goals', 'away_win', 'away_clean_sheet']
matchups2[displaycols]

,Home_Team,Bookies_Home_Goals,home_win,home_clean_sheet,Away_Team,Bookies_Away_Goals,away_win,away_clean_sheet
0,Chelsea,1.869,0.5606,0.3318,Manchester United,1.070,0.2138,0.1511
1,Bournemouth,1.632,0.4666,0.2951,Southampton,1.219,0.2836,0.1974
2,Cardiff,1.440,0.3891,0.2578,Fulham,1.378,0.3577,0.2347
3,Manchester City,3.536,0.9121,0.6061,Burnley,0.506,0.0231,0.0276
4,Newcastle,1.261,0.4416,0.3897,Brighton,0.951,0.2781,0.2844
5,West Ham,1.172,0.2406,0.1545,Tottenham,1.899,0.5387,0.3105
6,Wolverhampton Wanderers,1.626,0.5450,0.4158,Watford,0.881,0.2040,0.2027
7,Huddersfield,0.554,0.0714,0.0933,Liverpool,2.377,0.7764,0.5733
8,Everton,1.645,0.5212,0.3654,Crystal Palace,1.016,0.2338,0.1940
9,Arsenal,2.237,0.6513,0.3572,Leicester,1.032,0.1625,0.1102

In [24]:
# Optional extras
# 1. Work out how often each match goes over 2.5 goals
# 2. Work out how often each team has both a win AND a clean sheet
# 3. Create some plots to visualise the results (see https://seaborn.pydata.org/examples/index.html for inspiration)

# Hint: you can use a similar method to the win_cs function for parts 1 and 2